[dev-packages]

[packages]
nose = "*"
requests = "*"
pymysql = "*"
paho-mqtt = "*"
opencv-python = "*"
matplotlib = "*"
pylint = "*"
rope = "*"
pyusb = "*"
discord = "*"
asyncio = "*"
os = "*"
datetime = "*"
flask = "*"
threading = "*"
json = "*"
pytz = "*"
dateparser = "*"


[requires]
python_version = "3.8"
