[dev-packages]

[packages]
pylint = "*"
rope = "*"
pyusb = "*"
discord = "*"
asyncio = "*"
datetime = "*"
flask = "*"
pytz = "*"
dateparser = "*"
requests = "*"
gunicorn = "*"
discord-interactions ="*"
#[requires]
"discord.py" = "*"
#python_version = "3.8"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"
